html {
    font-family: 'Roboto';
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #1F2937;
    margin: 0;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 20px;
}

.header img {
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
}

.intro {
    display: flex;
    flex-direction: row;
    padding: 50px 200px; 
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}

.intro-left {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.intro-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 10px 0;
}

.intro-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0; 
}

.intro-left button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    margin: 20px 0;
    border-style: none;
    padding: 3px 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #1F2937;
    padding: 15px 0;
}

.body-bottom {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0px 80px;
    justify-content: center;
    padding: 0 0 50px 0;
    text-align: center;
}


.body-bottom p {
    width: 200px;
    font-size: 18px;
    font-weight: lighter;
}

.body-bottom img {
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 300px;
    color: #1F2937;
}

.quote h3 {
    font-weight: 200;
    font-size: 36px;
    margin: 0
}

.quote p  {
    text-align: right;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    margin: 80px 200px;
    padding: 30px 80px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-left {
    width: 800px;
}

.call-to-action-left h4 {
    margin: 5px;
    font-size: 18px;
}

.call-to-action-left p {
    margin: 5px;
    font-size: 16px;
}

.call-to-action-right button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    padding: 3px 20px;
}

footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    padding: 30px 0;
}